@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

@media (max-width: 768px) {
  * {
    scroll-padding-top: 40px;
  }
}

@media (max-width: 480px) {
  * {
    scroll-padding-top: 30px;
  }
}
