@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, light;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;

  --color-secondary: #4fc3f7;
}

* {
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

@media (max-width: 768px) {
  * {
    scroll-padding-top: 40px;
  }
}

@media (max-width: 480px) {
  * {
    scroll-padding-top: 30px;
  }
}
